
@{
    ViewBag.Title = "Confirmacion cita/alquiler";
    var message = ViewData["message"];
    var tittle = ViewData["tittle"];
}

<h2>@tittle</h2>

<div class="alert alert-success">
    <p>@message, desde sus @Html.ActionLink("Notificaciones", "Notificaciones", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })</p>
</div>
