
@{
    ViewBag.Title = "Busqueda";
}
@Styles.Render("~/Content/flat.css")
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<div class="result-container">
    <h3 class="tittle">2 pisos en alquiler encontrados en Madrid</h3>
    <ul class="flat-list">
        <li>
            <div class="flat">
                <img class="flat-main-img" src="http://imganuncios.mitula.net/piso_apartamento_por_alquiler_en_barcelona_96635445967580311.jpg" />
                <div class="flat-info">
                    <span class="flat-city">Madrid</span>
                    <p class="flat-description">Aquí ira la descripción de los pisos tras la búsqueda de los mismos. Por el momento es estático más adelante no lo será.</p>
                    <ul class="flat-options">
                        <li>
                            <p>Actualmente disponible</p>
                            <p>2 compañeros conocidos</p>
                        </li>
                    </ul>
                    <div class="flat-buttons">
                        <a href="http://asp.net" class="btn btn-primary btn-sm btn-search">Reservar cita</a>
                        <a href="http://asp.net" class="btn btn-success btn-sm btn-search">Alquilar ya</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
