
@{
    ViewBag.Title = "Close";
}

<div class="alert alert-info" role="alert" style="margin-top:30px">
    <p>Gracias por haber sido usuario de nuestra aplicación. Esperamos que cambie de idea, y los motivos que le 
    hayan llevado a dejar de usar nuestra aplicación, y vuelva con nosotros en cualquier momento. Puede seguir 
    navegando en @Html.ActionLink("InstantPiso", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home", @class="alert-link" })</p>
</div>

