@model IEnumerable<PisoEstudiantes.Models.DTO.Flat> 
@{
    ViewBag.Title = "MisPisos";
}

<h2>Mis Pisos</h2>
<h4>Desde aquí podrás gestionar tus pisos: actulizarlos, o quitarlos de alquiler.</h4>

<div class="flat-container">
    <ul>
        @foreach (var flat in Model)
        {
            <li>
                <div class="flat">
                    <img src="~/Content/img/@Html.DisplayFor(modelItem => flat.Profile)">
                    <div class="description">
                        <span class="city">@Html.DisplayFor(modelItem => flat.City)</span>
                        <p>@Html.DisplayFor(modelItem => flat.Description)</p>
                        <span class="price">@Html.DisplayFor(modelItem => flat.Price) €</span>
                        <div class="hire-flat">
                            <a href="" class="btn btn-sm btn-success btn-hire">Alquilar ahora</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>