
@{
    ViewBag.Title = "Schedule";
}

<h2>Horario de visitas</h2>
<p>Establezca el horario de visitas que mejor le venga, y actulice los mismos.</p>
<div class="new-schedule">
    <h4>Nuevo horario</h4>
    
</div>
<div class="current-schedule">
    <h4>Horario actual</h4>
    <ul>
        <li>Sin horario actual</li>
    </ul>
</div>
