@{
    ViewBag.Title = "Schedule";
}
@Styles.Render("~/Content/flat-schedule.css")
<h2>Horario de visitas</h2>
<p>Establezca el horario de visitas que mejor le venga, y actulice los mismos. Los hariros se establecen en intervalos de 1 hora.</p>
<div class="new-schedule">
    <h4>Nuevo horario</h4>
    <div class="schedule">
        <ul class="schedule-list">
            <li>
                <p>Horario 1</p>
                <select class="select day-schedule">
                    <option value="1">Día</option>
                    <option>Lunes</option>
                    <option>Martes</option>
                    <option>Miércoles</option>
                    <option>Jueves</option>
                    <option>Viernes</option>
                    <option>Sábado</option>
                    <option>Domingo</option>
                </select>
                <select class="select hour-schedule">
                    <option>Hora</option>
                    <option>De 8-9</option>
                    <option>De 9-10</option>
                    <option>De 10-11</option>
                    <option>De 11-12</option>
                    <option>De 12-13</option>
                    <option>De 13-14</option>
                    <option>De 14-15</option>
                    <option>De 15-16</option>
                    <option>De 16-17</option>
                    <option>De 17-18</option>
                    <option>De 18-19</option>
                    <option>De 19-20</option>
                    <option>De 20-21</option>
                </select>
            </li>
        </ul>
    </div>
    <input type="button" value="Añadir horario" class="add-schedule" />
    <input type="button" value="Establecer horario" class="submit-schedule" />
</div>
<div class="current-schedule">
    <h4>Horario actual</h4>
    <ul>
        <li>Sin horario actual</li>
    </ul>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Schedule.js")
}