body {
}

.jumbotron{
    background:white;
}


.search{
    margin:0 auto;
    width:60%;
}

.search select{
    max-width:initial;
    width:70%;
    font-size:14px;
    color: #333;
    height:40px;
    padding-left: 10px;
}

.search-buttons{
    margin-top:2px;
}

.search-buttons .btn-search{
    padding:6px 26px !important;
    margin-right:10px;
}

.flat-container{
    width:100%;
}

.flat-container ul{
    list-style:none;
}

.flat{
    width:25%;
    border:1px solid #dce0e0;
    border-radius:2px;
    float: left;
    margin-right: 90px;
    margin-bottom: 40px;
    height:364px !important;
}

.flat:hover{
   box-shadow: 0 0 6px #757475;
  -webkit-box-shadow: 0px 0 6px #757475;
}

.flat img{
    width:100%;
}

.flat .description{
    padding-top:15px;
    padding-bottom:15px;
    width:90%;
    margin:0 auto;
    font-size:12px;
    color: #555;
}

.flat .description p{
    
}

.flat .city{
    color: #357ebd;
    font-weight:700;
    font-size:14px;
}

.flat .price{
     font-weight:700;
}

.flat .hire-flat{
      padding-top: 10px;
    float: right;
    padding-bottom: 10px;
    
}